header{
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap; 
	align-items: center;
	border-color: red;



}
header ul{
	display: flex;
	flex-direction: row;
	width: 22%;
	justify-content: space-evenly;
	list-style: none;
	margin-right: 60px;
	align-content: center;
	font-family: 'Open Sans', sans-serif;

}

header ul li{
	border-right: 2px solid #0d519e;
	width: 25%;
}
header .logo img{
	align-items: center;
	width: 65px;
	height: 45px;
	margin-left: 60px;

}
header ul li a{
	text-decoration: none;
	color: black;

}


ul li a:hover{
	border-bottom: 2px solid red;
}
ul li a:active{
	border-bottom: 3px solid red;
}



main{
	
 	min-height: 100px;


}



.slideshow {
	height: 450px;
	width: 100%;
	background: url(Img/SlideShow.jpg) no-repeat;
	background-size: 100%;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	
	

}

.searchb{
	display: flex;
	flex-direction: row;
	width: 300px;
}

.bs{
	width: 60px;
	background: blue;
	border: none;

}

.search{
	width: 220px;
	height: 30px;
	border: none;
	font-family: sans-serif;
	align-items: center;

}

.search input[type=text]{
	font-family: sans-serif;
	font-size: 10px;
	

}
.bs img{
	width: 25px;
	

}

.pg1{
	width: 100%;
	height: 500px;
	background: #f1f1f1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.pg2{
	width: 90%;
	height: 400px;
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;

}

.nocash{
	width: 33.3%;
	height: 300px;
	display: flex;
	flex-direction: column;
	padding: 50px;
	margin-left: 35px;

}
.nocash img{
	width: 300px;
	height: 250px;
	margin-left: 110px;
}
.nocash .tekst1 {
	width: 600px;
	height: 200px;
	border: 1px solid white;
	display: flex;
	margin-left: 185px;
	color: blue;
	justify-content: space-between;
}

.clock{
	width: 33.3%;
	height: 300px;
	display: flex;
	flex-direction: column;
	padding: 50px;
	margin-left: 35px;

}
.clock img{
	width: 300px;
	height: 250px;
}
.clock .tekst2 {
	width: 600px;
	height: 200px;
	border: 1px solid white;
	display: flex; 
	color: blue;
	justify-content: space-between;
}
.mengene{
	width: 33.3%;
	height: 300px;
	display: flex;
	flex-direction: column;
	padding: 50px;

}
.mengene img{
	width: 300px;
	height: 250px;
}
.mengene .tekst3 {
	width: 600px;
	height: 200px;
	border: 1px solid white;
	display: flex;
	color: blue;
	justify-content: space-between;
}

.Harta{
	background: url("Img/PrishtinaMap.png");
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: row;
}


.D1{
	width: 50%;
	height: 600px;
	display: flex;
	background: #de3333;
	opacity: 0.5;
	justify-content: center;
	align-items: center;
}
.D2{
	width: 50%;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.Kontakti {
	width: 200px;
	height: 50px
	display: flex;
}


.D1 .P1 {
	width: 600px;
	height: 200px;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
